<%= form_with(model: [@subject, @course, note]) do |form| %>
  <div class="field-label col-xl-6">
      <%= form.label :entry %>
  </div>

  <div class="field col-xl-6">
      <%= form.text_area :entry %>
  </div>

  <div class="actions col-xl-6">
      <%= form.submit %>
  </div>
<% end %>