<%= form_with(model: [@subject, @course, note]) do |form| %>
  <tr>
    <td class="field">
      <%= form.label :entry %>
    </td>
  </tr>

  <tr>
    <td class="field">
      <%= form.text_area :entry %>
    </td>

    <td class="actions">
      <%= form.submit %>
    </td>
  </tr>
<% end %>