<%= form_with(model: [@subject, @course, note]) do |form| %>

  <div class="field">
    <%= form.label :entry %>
    <%= form.text_area :entry %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>