<h1>Editing Note</h1>

<div class="card text-dark bg-light mb-3">
  <div class="card-body">
    <%= render 'form', note: @note %>
  </div>
</div>

<%= link_to 'Back', subject_course_path(@subject, @course) %>