@import "../css/template.scss";

// Application styles

.flex-container-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container-2 {
  display: flex;
  flex-flow: column wrap;
  margin-right: 25px;
}

.flex-container-3 {
  display: flex;
  flex-flow: row wrap;
}

.actions {
  margin-top: auto;
}