<div class="container-fluid px-4">
  <h1>Editing Subject</h1>

  <div class="card text-dark bg-light mb-3">
    <div class="card-body">
      <%= render 'form', subject: @subject %>
    </div>
  </div>

  <%= link_to 'Show', @subject %> |
  <%= link_to 'Back', subjects_path %>
</div>