<h1>Editing Homework</h1>

<div class="card text-dark bg-light mb-3">
  <div class="card-body">
    <%= render 'form', homework: @homework %>
  </div>
</div>

<%= link_to 'Back', subject_course_path(@subject, @course) %>