<div>
  <div>
  <strong><%= course.name %></strong>
    <%= link_to 'Show', [@subject, course] %>
    <%= link_to "Edit", edit_subject_course_path(@subject, course) %>
    <%= link_to "Destroy", [@subject, course], method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
