<tr>
  <td><%= course.name %></td>
  <td><%= link_to 'Show', [@subject, course] %></td>
  <td><%= link_to "Edit", edit_subject_course_path(@subject, course) %></td>
  <td><%= link_to "Destroy", [@subject, course], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>