<%= form_with(model: [@subject, course]) do |form| %>
  <td class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </td>

  <td class="actions">
    <%= form.submit %>
  </td>
<% end %>